<form action="/games" method="POST">

  <label for="platform">Platform:</label>
  <input required type="text" id="platform" name="platform">

  <label for="title">Title:</label>
  <input required type="text" id="title" name="title">

  <label for="genre">Genre:</label>
  <input required type="text" id="genre" name="genre">

  <input type="submit" value="Create Game">

</form>
