<form action="/rentals" method="POST">

  <label for="customer_id">Customer Id:</label>
  <input required type="number" id="customer_id" name="customer_id">

  <label for="game_id">Game Id:</label>
  <input required type="number" id="game_id" name="game_id">

  <input type="submit" value="Create Rental">

</form>
